@font-face {
            font-family: 'EBGaramond-VariableFont_wght';
            src: url('../../21-global/03-fonts/EBGaramond-VariableFont_wght.ttf') format('truetype');
        }

        :root {
            --gap-size: 3vh;
        }

        body {
            margin: 0;
            font-family: 'EBGaramond-VariableFont_wght', sans-serif;
            background-color: #E6E2D6;
            color: #333;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            text-align: center;
            overflow: hidden;
        }

        .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: var(--gap-size); /* Dynamic gap */
            z-index: 1;
        }

        