.backButton {
  position: fixed;
  bottom: clamp(1rem, 3vw, 2rem);
  left: clamp(1rem, 3vw, 2rem);
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  width: clamp(3rem, 5vw, 4rem);
  height: auto;
}

.backButton:hover {
  transform: scale(1.05);
}

.backButton svg {
  width: 100%;
  height: auto;
  fill: black;
  stroke: black;
  stroke-width: 0.5;
}
